/* Sidebar.css */

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  border-bottom: 1px solid #333;
  padding-bottom: 23px;
  width: 90%;
}

a {
  text-decoration: none;
  color: #070707;
  margin-left: 20px;
}

.text-menu > li:hover {
  color: rgb(21, 21, 69);
}


/* Menambahkan aturan media query untuk ukuran layar yang lebih kecil */
@media (max-width: 768px) {
  li {
    width: 100%; /* Mengisi seluruh lebar pada layar yang lebih kecil */
  }

  .sidebar {
    width: 5px; /* Lebar sidebar dalam keadaan terbuka pada layar kecil */
    padding: 3rem; /* Padding juga dikurangi agar lebih kecil */
  }

  .sidebar.open {
    width: 50px; /* Lebar sidebar dalam keadaan terbuka pada layar kecil */
  }

  .logo {
    width: 2rem; /* Ukuran logo juga diperkecil */
    height: 2rem;
  }

  .sidebar .logo-container p {
    width: 50px; /* Lebar teks juga diperkecil */
  }

  .sidebar .logo-container .logo {
    margin-left: 10px; /* Margin antara logo dan teks diperkecil */
  }
}

.sidebar {
  position: fixed;
  top: 0rem;
  left: -1rem;
  height: 150%;
  width: 12rem;
  background-color: var(--glass);
  color: #000000;
  padding: 1rem;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 3px solid rgb(255, 255, 255);
  transition: left 0.3s;
}

.logo {
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
}

.sidebar .logo-container p {
  align-items: center;
  width: 10rem;
  font-weight: 700;
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 40px;
}

.text-menu-link *{
  text-decoration: none;
  color: black
}