.Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.parentcontainer {
  display: flex;
  justify-content: space-between;
  width: 30.4rem;
  height: 15rem;
  margin: 1rem;
}

.statistic-card {
  background-color: var(--glass);
  border-radius: 8px;
  text-align: left; /* Mengatur agar teks rata kiri */
  flex: 2;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  margin: 5px;
  border: 2px solid rgb(255, 255, 255);
  margin-left: -1rem;
  padding: 1rem; /* Menambahkan padding 1rem */
}

.statistic-card:hover {
  transform: scale(1.05);
}

h5 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.p-text-cards {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
  color: #000000;
}

/* Tambahkan style untuk mendukung penataan teks */
.parentcontainer > .statistic-card > h5 {
  margin-bottom: 1rem; /* Jarak antara judul dan teks di dalam kartu */
}
