.dropdown-navbar{
    width: 3rem;
    height: 3rem;
}

.dropdown-navbar-menu:hover{
    color: lightblue;
}

#normal-navbar h6:hover{
    color: lightblue;
}

@media (max-width: 775px) {
    #normal-navbar{
        display: none;
    }
}

@media (min-width: 775px) {
    .dropdown-navbar{
        display: none;
    }
}
